/* Style for the menu of the website */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white; /* This sets the text color of the menu items to white */
    text-decoration: none; /* Optionally, removes the underline from links */
}

/* You might also want to add a hover effect to improve usability */
nav ul li a:hover {
    text-decoration: underline; /* Adds an underline to links on hover */
}

/* Style for small button next to the menu */
.btn-small {
    display: inline-block;
    margin-bottom: 0.5rem; /* Smaller margin */
    padding: 0.25rem 0.5rem; /* Smaller padding to reduce button size */
    font-size: 0.8rem; /* Smaller font size */
    color: #ffffff; /* Solid white color for text */
    background-color: #007bff; /* A distinct, solid background color */
    border-color: #007bff; /* Matching border color */
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    &:hover {
      color: #ffffff; /* Keeps the text color solid white on hover */
      text-decoration: none;
      background-color: #0056b3; /* Darker shade on hover */
      border-color: #0056b3;
    }
}

/* Style for centering content */
.main-content-about, main-about {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Centers the content */
    padding: 0 20px; /* Adds some padding on the sides */
    text-align: center; /* Center text */
}

/* Custom styles for the About page */
#our-mission, #partners {
    margin: 2rem 0;
}

#our-mission h1, #partners h2 {
    color: #425878; /* Example color, adjust as needed */
}

#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the space between partner blocks */
}

.partner {
    flex-basis: calc(33% - 20px); /* Three partners per row with gap adjustment */
    text-align: center; /* Center-align the content of each partner */
}

.partner img {
    max-width: 100%; /* Make images responsive */
    height: auto;
}
.partners-grid {
    display: flex;
    justify-content: center; /* Centers the partner logos in the container */
    flex-wrap: wrap; /* Allows logos to wrap on smaller screens */
    gap: 20px; /* Adjusts the space between logos */
}

.partner {
    text-align: center; /* Centers the text under the logo */
}

.partner-logo {
    width: 400px; /* Width set to match LinkedIn profile picture size */
    height: 400px; /* Height set to match LinkedIn profile picture size */
    object-fit: cover; /* Ensures the image covers the area, useful if the original isn't square */
}
